[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
twine = "*"

[packages]
celery = ">=5.3.6"
python-dotenv = "*"
sqlalchemy = ">=2.0.29"
mysql-connector = "*"
celery-sqlalchemy-scheduler = {editable = true,path = "."}

[requires]
python_version = "3.6"
